html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Montserrat, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-down-arrow {
  -webkit-animation: pulse 2s 3s ease-out infinite;
          animation: pulse 2s 3s ease-out infinite;
    bottom: 4vh;
    /* left: 0; */
  position: absolute;
    /* right: 0; */
  text-align: center;
  z-index: 10;
}

.header-down-arrow-image {
  -webkit-animation: no-transform 1s 1s ease-out forwards;
          animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
          width: 10vw;
}
.hero-words{
  -webkit-animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
          animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(.8);
          transform: translateY(-4rem) scale(.8);
-webkit-animation-delay: .6s;
          animation-delay: .6s;
          
}

.hero-cacti{
  -webkit-animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
          animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(.8);
          transform: translateY(-4rem) scale(.8);
-webkit-animation-delay: .8s;
          animation-delay: .8s;
          
}

.animate-popin{
 
-webkit-animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
          animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(.8);
          transform: translateY(-4rem) scale(.8);
}


@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  50% {
    opacity: .8;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  50% {
    opacity: .8;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}